.title{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: black;
  color: white;
}
.header--title{
  padding-left: 80px;
}
.header--buttons{
  padding-right: 30px;
}
.login-button{
  background-color: black;
  color: white;
  font-size: 16px;
  padding-right: 16px;
}
.trial-button{
  background-color: red;
  color: white;
  padding: 12px 14px;
}
.title > button {
  padding-right: 30px;
}
.header--downtitle{
  color: white;
  background-color: rgb(85, 84, 84);
  font-weight: 400;
  font-size: 22px;
  padding: 14px 10px;
  padding-left: 80px;
  margin: 0;
}