*{
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: black;
  color: white;
}

/* HEADER */

.header--title{
  padding-left: 80px;
  margin: 10px;
}
.header--buttons{
  padding-right: 30px;
}
.login-button{
  background-color: black;
  color: white;
  font-size: 16px;
  padding-right: 16px;
  cursor: pointer;
}
.trial-button{
  background-color: red;
  color: white;
  padding: 12px 14px;
  cursor: pointer;
}
.title > button {
  padding-right: 30px;
}
.header--downtitle{
  color: white;
  background-color: rgb(85, 84, 84);
  font-weight: 400;
  font-size: 22px;
  padding: 14px 10px;
  padding-left: 90px;
}



/* MAIN */

.main{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 74px;
  min-height: 52vh;
  
}
.main--movies{
  text-align: center;
  cursor: pointer;
}
.main--series{
  text-align: center;
  cursor: pointer;
}

.main--jumanjiposter{
  width: 200px;
  padding-right: 24px;
  border-radius: 2px;
}
.main--witcherposter{
  width: 200px;
  padding-left: 24px;
  border-radius: 2px;

}


/* FOOTER */

.footer{
  background-color: rgb(0, 0, 0);
  padding: 16px 0px;
  
}
.footer--text{
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 50px;
  cursor: pointer;
  padding-bottom: 8px;
}
.footer--text >p {
  padding-left: 4px;
}
.footer-facelogo{
  padding-left: 40px;
  width: 32px;
  border-radius: 10px;
  cursor: pointer;
}
.footer-tweetlogo{
  padding-left: 12px;
  border-radius: 6px;
  width: 32px;
  cursor: pointer;
}



/* MOVİES AND SERİES */

.find-and-sort{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input{
  width: 360px;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 28px 12px;
  margin-left: 86px;
}

.sort-select{
 height: 44px;
 padding: 4px 16px;
 margin-right: 60px;
}
.sort-select >option {
  font-size: 16px;
}

.release--container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 16px;  
  row-gap: 26px;
}
.released{
  text-align: center; 
  font-size: small; 
  
}
.released--poster{
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  
}




/* DYNAMİC STYLES */

@media (max-width:750px){
  .header--title{
    margin-left:0;
    padding-left: 32px;
  }
  .header--buttons{
    display: flex;
    align-items: center;
  }
  .login-button{
    font-size: 12px;
    padding: 6px 8px;
    margin-right: 12px;

  }
  .trial-button{
    padding: 6px 8px;
    font-size: 12px;
  }
  .release--container{
    grid-template-columns: 1fr 1fr;
  }
  .main--jumanjiposter{
    width: 160px;
  }
  .main--witcherposter{
    width: 160px;
  }
  .released--poster{
    width: 160px;
  }
  .sort-select{
    height: 36px;
    padding: 2px 0px;
    border: 1px solid black;
    margin-right: 20px;
  }
  .search-input{
    margin-left: 24px;
    padding: 12px 28px;
  }
  
}


@media (min-width:751px) and (max-width:999px){
  .release--container{
    grid-template-columns: 1fr 1fr 1fr ;
  }
}


@media(min-width:1000px){
  .release--container{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}
@media(min-width:1501px){
  .release--container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}