*{
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: black;
  color: white;
}
.header--title{
  padding-left: 80px;
  margin: 10px;
}
.header--buttons{
  padding-right: 30px;
}
.login-button{
  background-color: black;
  color: white;
  font-size: 16px;
  padding-right: 16px;
  cursor: pointer;
}
.trial-button{
  background-color: red;
  color: white;
  padding: 12px 14px;
  cursor: pointer;
}
.title > button {
  padding-right: 30px;
}
.header--downtitle{
  color: white;
  background-color: rgb(85, 84, 84);
  font-weight: 400;
  font-size: 22px;
  padding: 14px 10px;
  padding-left: 90px;
}




.main{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 74px;
  
}
.main--movies{
  text-align: center;
  cursor: pointer;
}
.main--series{
  text-align: center;
  cursor: pointer;
}

.main--jumanjiposter{
  width: 200px;
  padding-right: 24px;
  border-radius: 2px;
}
.main--witcherposter{
  width: 200px;
  padding-left: 24px;
  border-radius: 2px;

}







.footer{
  background-color: rgb(0, 0, 0);
  padding: 16px 0px;
  margin-top: auto;
}
.footer--text{
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 50px;
  cursor: pointer;
  padding-bottom: 8px;
}
.footer--text >p {
  padding-left: 4px;
}
.footer-facelogo{
  padding-left: 40px;
  width: 32px;
  border-radius: 10px;
  cursor: pointer;
}
.footer-tweetlogo{
  padding-left: 12px;
  border-radius: 6px;
  width: 32px;
  cursor: pointer;
}





/* MOVİES */

.search-input{
  width: 360px;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 28px 12px;
  margin-left: 86px;
}

.movies--container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 16px;  
}
.releasedmovies{
  text-align: center; 
  font-size: small; 
  
}
.released--poster{
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  
}